In [1]:
'This is my string'

'This is my string'

In [2]:
my_str = 'My string in single quote.'

In [3]:
my_str

'My string in single quote.'

In [4]:
my_str2 = "My string in double quotes."
my_str2

'My string in double quotes.'

In [5]:
my_str3 = """ String is spread across
multiple lines."""
my_str3

' String is spread across\nmultiple lines.'

In [6]:
type(my_str)

str

In [7]:
type(my_str2)

str

In [8]:
type(my_str3)

str

In [9]:
string_with_spaces= 'x y 1 2 3'
string_with_spaces

'x y 1 2 3'

In [10]:
string_with_special_character = "@#$%&*^!"
string_with_special_character

'@#$%&*^!'

In [11]:
empty_str = "      "
empty_str

'      '

In [12]:
len(empty_str)

6

In [13]:
len('This is my string')

17

In [16]:
my_str + 'Strings are useful'

'My string in single quote.Strings are useful'

In [17]:
my_str +"  "+ my_str2

'My string in single quote.  My string in double quotes.'

In [18]:
(my_str +"  ") * 3

'My string in single quote.  My string in single quote.  My string in single quote.  '

In [19]:
'#'*25

'#########################'

In [20]:
my_string = "This is my string."

In [21]:
my_string[0]

'T'

In [22]:
my_string[4]

' '

In [23]:
lenght = len(my_string)
my_string[lenght]

IndexError: string index out of range

In [24]:
lenght = len(my_string)
my_string[lenght-1]

'.'

In [25]:
my_string[-1]

'.'

# Slicing Operation

In [26]:
my_string = "This is my string"

In [27]:
my_string[ : ]

'This is my string'

In [28]:
my_string[ 0 : 4 ]

'This'

In [29]:
my_string[ 5 : 10 ]

'is my'

In [30]:
my_string[ 3 : ]

's is my string'

In [31]:
my_string[ : 7]

'This is'

In [32]:
my_string[ 0 :10 :2 ]

'Ti sm'

In [33]:
my_string[ -5 : ]

'tring'

In [34]:
my_string[ : -2]

'This is my stri'

In [35]:
my_string[ -5 :-2 ]

'tri'

# Escape Sequence

In [38]:
print(" Python is beautiful. \n I love Python.")

 Python is beautiful.
 I love Python.

In [40]:
print(" Python is beautiful.\t I love Python.")

 Python is beautiful.	 I love Python.

In [41]:
print(" Python is beautiful. \\ I love Python.")

 Python is beautiful. \ I love Python.

# The in operator

In [42]:
my_string = "This is my string."

In [43]:
'i' in my_string

True

In [44]:
'w' in my_string

False

In [45]:
'i'not in my_string

False

In [46]:
'w' not in my_string

True

In [47]:
'my' in my_string

True

In [48]:
'my' not in my_string

False

# Immutability

In [4]:
my_string = "This is my string."

In [5]:
my_string[0] = 'P'

TypeError: 'str' object does not support item assignment

In [6]:
my_string= 'This is my string'

first_char = 'P'

my_new_string = first_char + my_string[ 1 : 15]

print("Original string        ", my_string)

print("Modified string        ", my_new_string)

Original string         This is my string
Modified string         Phis is my stri

# Looping

In [7]:
my_string = "Python is beautiful."

In [8]:
for i in my_string:
    print(i)

P
y
t
h
o
n

i
s

b
e
a
u
t
i
f
u
l
.

In [9]:
for i in range(len(my_string)):
    print(i)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19

In [10]:
for i in range(len(my_string)):
    print(i**2)

0
1
4
9
16
25
36
49
64
81
100
121
144
169
196
225
256
289
324
361

In [11]:
for i in range(len(my_string)):
    print(i**3)

0
1
8
27
64
125
216
343
512
729
1000
1331
1728
2197
2744
3375
4096
4913
5832
6859

In [12]:
for i in range(len(my_string)):
    print(i ,"   ", i**2 ,"   ", i**3)

0     0     0
1     1     1
2     4     8
3     9     27
4     16     64
5     25     125
6     36     216
7     49     343
8     64     512
9     81     729
10     100     1000
11     121     1331
12     144     1728
13     169     2197
14     196     2744
15     225     3375
16     256     4096
17     289     4913
18     324     5832
19     361     6859

In [13]:
range(len(my_string))

range(0, 20)

In [14]:
for i in range(len(my_string)):
    print("--->", i , " = ", my_string[i])

---> 0  =  P
---> 1  =  y
---> 2  =  t
---> 3  =  h
---> 4  =  o
---> 5  =  n
---> 6  =
---> 7  =  i
---> 8  =  s
---> 9  =
---> 10  =  b
---> 11  =  e
---> 12  =  a
---> 13  =  u
---> 14  =  t
---> 15  =  i
---> 16  =  f
---> 17  =  u
---> 18  =  l
---> 19  =  .

In [15]:
user_string = input("Please enter the string --------> ")

print("Length of string --------> ", len(user_string))

Please enter the string --------> Nikita
Length of string -------->  6

In [17]:
print("String repeated 5 times --------->", (user_string + "   ")*5)

String repeated 5 times ---------> Nikita   Nikita   Nikita   Nikita   Nikita

In [18]:
print("First character of string -------->", user_string[0])

print("Last character of string --------->", user_string[-1])

First character of string --------> N
Last character of string ---------> a

In [19]:
print("First three character of string -------->", user_string[0 : 3])

print("Last three character of string --------->", user_string[-3 : ])

First three character of string --------> Nik
Last three character of string ---------> ita

In [20]:
print("String reversed -------->", user_string[ : : -1])

String reversed --------> atikiN

In [29]:
print("String reversed ---->", user_string[-6:-1])

String reversed ----> Nikit

In [ ]:
new_string = user_string[0 : len(user_string)-2]

print("Original string --------> ", user_string)