In [2]:
empty_list = []
empty_list

[]

In [3]:
other_empty_list = list()
other_empty_list

[]

In [4]:
my_number_list = [1,2,3,4,5,6,7]
my_number_list

[1, 2, 3, 4, 5, 6, 7]

In [5]:
my_mixed_list = [84, 65.75, "Nikita", True]
my_mixed_list

[84, 65.75, 'Nikita', True]

In [6]:
type(my_mixed_list)

list

In [7]:
type(my_mixed_list[0])

int

In [8]:
type(my_mixed_list[1])

float

In [9]:
type(my_mixed_list[2])

str

In [10]:
type(my_mixed_list[3])

bool

In [11]:
len(my_mixed_list)

4

In [12]:
len(my_number_list)

7

In [13]:
print(my_number_list)

[1, 2, 3, 4, 5, 6, 7]

In [14]:
list1 = [1,2,3]
list2 = [4,5,6,7,8]
join_list = list1 + list2
join_list

[1, 2, 3, 4, 5, 6, 7, 8]

In [15]:
list3 = [1,2,3] * 3
list3

[1, 2, 3, 1, 2, 3, 1, 2, 3]

In [16]:
my_list = [15, 2.5, "Nikita", True]
my_list

[15, 2.5, 'Nikita', True]

In [17]:
my_list[0]

15

In [18]:
my_list[1]

2.5

In [19]:
my_list[2]

'Nikita'

In [20]:
my_list[3]

True

In [21]:
type(my_list[0])

int

In [22]:
type(my_list[1])

float

In [23]:
type(my_list[2])

str

In [24]:
type(my_list[3])

bool

In [25]:
my_list[len(my_list)-1]

True

In [26]:
len(my_list)

4

In [27]:
print(my_number_list)

[1, 2, 3, 4, 5, 6, 7]

In [28]:
list1 = [1,2,3]
list2 = [4,5]
join_list = list1 + list2
join_list

[1, 2, 3, 4, 5]

In [29]:
list3 = [1,2,3]*3
list3

[1, 2, 3, 1, 2, 3, 1, 2, 3]

In [30]:
[0]*5

[0, 0, 0, 0, 0]

In [31]:
my_list = [1,1.2,'List',True]
my_list

[1, 1.2, 'List', True]

In [32]:
my_list[0]

1

In [33]:
len(my_list)

4

In [34]:
my_list[len(my_list)-2]

'List'

In [35]:
my_list[len(my_list)-1]

True

In [36]:
print(my_list[0] , "    " , my_list[-4])
print(my_list[1] , "    " , my_list[-3])
print(my_list[2] , "    " , my_list[-2])
print(my_list[3] , "    " , my_list[-1])

1      1
1.2      1.2
List      List
True      True

In [37]:
my_list

[1, 1.2, 'List', True]

In [38]:
my_list[ : ]

[1, 1.2, 'List', True]

In [39]:
my_list[0:5]

[1, 1.2, 'List', True]

In [40]:
my_list[1 : 4]

[1.2, 'List', True]

In [41]:
my_list[ 2 : ]

['List', True]

In [42]:
my_list[ : 3]

[1, 1.2, 'List']

In [43]:
my_list[0 : 5: 2]

[1, 'List']

In [44]:
my_list[-2: ]

['List', True]

In [45]:
my_list

[1, 1.2, 'List', True]

In [46]:
1 in my_list

True

In [47]:
1 not in my_list

False

In [48]:
11 not in my_list

True

In [49]:
'list' in my_list

False

In [50]:
my_list

[1, 1.2, 'List', True]

In [51]:
for i in my_list:
    print(i)

1
1.2
List
True

In [53]:
for i in range(len(my_list)):
    print("(",i,")", "element------>",my_list[i])

( 0 ) element------> 1
( 1 ) element------> 1.2
( 2 ) element------> List
( 3 ) element------> True

In [54]:
my_number_list = [1, 2, 3, 4, 5, 1.5, True]
my_number_list

[1, 2, 3, 4, 5, 1.5, True]

In [55]:
sum(my_number_list)

17.5

In [56]:
min(my_number_list)

1

In [57]:
max(my_number_list)

5

In [69]:
list1 = [1, 2, 3, 4, 5]
print("Original list")
print("List 1 -------->", list1)

Original list
List 1 --------> [1, 2, 3, 4, 5]

In [70]:
list2 = list1
print('List 2 is referring to list 1, both having same elements')
print("List 1 -------->   ", list1)
print("List 2 -------->   ", list2)

List 2 is referring to list 1, both having same elements
List 1 -------->    [1, 2, 3, 4, 5]
List 2 -------->    [1, 2, 3, 4, 5]

In [71]:
list2 = list1
print('List 2 is referring to list 1, both having same elements')
print('List 1 -------->   ', list1)
print('List 2 -------->   ', list2)

List 2 is referring to list 1, both having same elements
List 1 -------->    [1, 2, 3, 4, 5]
List 2 -------->    [1, 2, 3, 4, 5]

In [72]:
list1[0] = 'a'
print('After aletring the first element of list1, list2 is also altered')
print('List 1 ------->   ', list1)
print('List 2 ------->   ', list2)

After aletring the first element of list1, list2 is also altered
List 1 ------->    ['a', 2, 3, 4, 5]
List 2 ------->    ['a', 2, 3, 4, 5]

In [1]:
count = 5
number_list = []

for i in range(count):
    number = int(input("Enter an integer ------> "))
    number_list.append(number)
print(number_list)

Enter an integer ------> 12
Enter an integer ------> 13
Enter an integer ------> 25
Enter an integer ------> 36
Enter an integer ------> 45
[12, 13, 25, 36, 45]

In [1]:
number_list = [23, 45, 67, 89, 11]
#sum = 0 
#product = 1
sq_number_list = []

for i in number_list:
    #sum = sum + i
    #product = product * i
    square = i * i 
    sq_number_list.append(square)


    
print(sq_number_list)

[529, 2025, 4489, 7921, 121]

In [4]:
count= 5
number_list = []

for i in range(count):
    number= int(input("Enter an integer --------> "))
    number_list.append(number)
print(number_list)

Enter an integer --------> 6
Enter an integer --------> 2
Enter an integer --------> 5
Enter an integer --------> 9
Enter an integer --------> 4
[6, 2, 5, 9, 4]

In [5]:
number_list3 = [3,5,6,7,8]
summ =0
product = 1
sq_number_list = []

for  number in number_list3:
    summ = summ +1
    product = product * number
    square = number * number
    sq_number_list.append(number)
    
print("The sum of all number is -----> ",summ)
print("The product of all number is -----> ",product)
print("The square of  number is :  ")
for i in range(len(number_list3)):
    print("Number ---> ",number_list[i],  "Square ---> ",sq_number_list[i])
    
print(sq_number_list)

The sum of all number is ----->  5
The product of all number is ----->  5040
The square of  number is :
Number --->  6 Square --->  3
Number --->  2 Square --->  5
Number --->  5 Square --->  6
Number --->  9 Square --->  7
Number --->  4 Square --->  8
[3, 5, 6, 7, 8]

In [7]:
original_list = ['a', 'b', 'c', 'd', 'e']

length = len(original_list)
length = length * (-1)

for i in range(-1, length-1, -1):
    print(i , original_list[i])

-1 e
-2 d
-3 c
-4 b
-5 a

In [10]:
L =  [25,21,46,78]
print("Original list ------>  ", L)

L[1] = 53
print("\n (a) Set the second entry to 17----->", L)
      
L.extend([12,16,18])
print("\n (b) Add 4,5, and 6 to the end of list--->", L)
      
L.remove(L[0])
print("\n (c) Remove the first entry from the list--->", L)
      
L = L * 2
print("\n (d) Double the list--->", L)
      
L.insert(3, 25)
print("\n (d) Double the list--->", L)

Original list ------>   [25, 21, 46, 78]

 (a) Set the second entry to 17-----> [25, 53, 46, 78]

 (b) Add 4,5, and 6 to the end of list---> [25, 53, 46, 78, 12, 16, 18]

 (c) Remove the first entry from the list---> [53, 46, 78, 12, 16, 18]

 (d) Double the list---> [53, 46, 78, 12, 16, 18, 53, 46, 78, 12, 16, 18]

 (d) Double the list---> [53, 46, 78, 25, 12, 16, 18, 53, 46, 78, 12, 16, 18]