In [47]:
# Different types of tuples

my_tuple = ()   # Empty tuple
print("\n my_tuple 1----",my_tuple, "                               ","Type-----",type(my_tuple))


my_tuple = (1, 2, 3)  # Tuple having integers 
print("\n my_tuple 2----",my_tuple, "                        ","Type-----",type(my_tuple))


my_tuple = (1, "Hello", 3.4)    # tuple with mixed datatypes
print("\n my_tuple 3----",my_tuple, "                 ","Type-----",type(my_tuple))


my_tuple = ("mouse", [8, 4, 6], (1, 2, 3))   # nested tuple
print("\n my_tuple 4----",my_tuple, "    ","Type-----",type(my_tuple))


my_tuple = 1, "Hello", 3.4
print("\n my_tuple 5----",my_tuple, "                 ","Type-----",type(my_tuple))


my_tuple = ("Hello")
print("\n my_tuple 6----",my_tuple, "                          ","Type-----",type(my_tuple))
 

my_tuple = ("Hello",)
print("\n my_tuple 7----",my_tuple, "                     ","Type-----",type(my_tuple))

 my_tuple 1---- ()                                 Type----- <class 'tuple'>

 my_tuple 2---- (1, 2, 3)                          Type----- <class 'tuple'>

 my_tuple 3---- (1, 'Hello', 3.4)                   Type----- <class 'tuple'>

 my_tuple 4---- ('mouse', [8, 4, 6], (1, 2, 3))      Type----- <class 'tuple'>

 my_tuple 5---- (1, 'Hello', 3.4)                   Type----- <class 'tuple'>

 my_tuple 6---- Hello                            Type----- <class 'str'>

 my_tuple 7---- ('Hello',)                       Type----- <class 'tuple'>

In [26]:
my_mixed_tuple = ('a', 1, 1.1, True)
my_mixed_tuple

('a', 1, 1.1, True)

In [27]:
len(my_mixed_tuple)

4

In [28]:
type(my_mixed_tuple[0])

str

In [29]:
type(my_mixed_tuple[3])

bool

In [31]:
print("\nFirst Element----",my_mixed_tuple[0],"              ","Type of Element-----",type(my_mixed_tuple[0]))

print("\nSecond Element---",my_mixed_tuple[1],"              ","Type of Element-----",type(my_mixed_tuple[1]))

print("\nThird Element----",my_mixed_tuple[2],"              ","Type of Element-----",type(my_mixed_tuple[2]))

print("\nFourth Element----",my_mixed_tuple[3],"             ","Type of Element-----",type(my_mixed_tuple[3]))

First Element---- a                Type of Element----- <class 'str'>

Second Element--- 1                Type of Element----- <class 'int'>

Third Element---- 1.1                Type of Element----- <class 'float'>

Fourth Element---- True               Type of Element----- <class 'bool'>

In [32]:
print("\n Last Element----", my_mixed_tuple[-1])

print("\n Second last element-----",my_mixed_tuple[-2])

print("\n Third last Element------",my_mixed_tuple[-3])

print("\n Fourth last element-----",my_mixed_tuple[-4])

 Last Element---- True

 Second last element----- 1.1

 Third last Element------ 1

 Fourth last element----- a

In [33]:
my_mixed_tuple[0:2]

('a', 1)

In [34]:
my_mixed_tuple[1:3]

(1, 1.1)

In [35]:
my_mixed_tuple[ :3]

('a', 1, 1.1)

In [36]:
my_mixed_tuple[1:]

(1, 1.1, True)

In [38]:
my_mixed_tuple[ : :2]

('a', 1.1)

In [39]:
my_mixed_tuple[ : :3]

('a', True)

In [40]:
my_mixed_tuple[ : -1]

('a', 1, 1.1)

In [41]:
my_mixed_tuple[  : :-1]

(True, 1.1, 1, 'a')

In [42]:
my_mixed_tuple[  :  :-2]

(True, 1)

In [43]:
tuple1 = ('1', '2', '3', '4')
tuple2 = ('5', '6')
new_tuple = tuple1 + tuple2  # concat two tuples using + 
new_tuple

('1', '2', '3', '4', '5', '6')

In [44]:
tuple1 = ('1', '2', '3', '4')
tuple2 = ('a', 'b')
new_tuple = tuple1 + tuple2  # concat two tuples using + 
new_tuple

('1', '2', '3', '4', 'a', 'b')

In [45]:
tuple1 = ('1', '2', '3', '4')
new_tuple = tuple1 + ('5', '6')  # concat two tuples using + 
new_tuple

('1', '2', '3', '4', '5', '6')

In [48]:
(1,2,3 )* 3

(1, 2, 3, 1, 2, 3, 1, 2, 3)

In [49]:
my_tuple = ('a', 'b', 'c', 'd', 'e')

In [50]:
my_tuple[0] = 'p'

TypeError: 'tuple' object does not support item assignment

In [51]:
my_tuple.append('g')

AttributeError: 'tuple' object has no attribute 'append'

In [52]:
my_tuple = ('a', 'b', 'c', 'c', 'e')

In [54]:
my_tuple.index('c')

2

In [55]:
my_tuple.index('e')

4

In [56]:
my_tuple.index('b')

1

In [57]:
my_tuple.index('v')

ValueError: tuple.index(x): x not in tuple

In [58]:
my_tuple.count('c')

2

In [59]:
my_tuple.count('a')

1

In [60]:
my_tuple.count('e')

1

In [61]:
my_tuple.count('n')

0

In [62]:
my_new_tuple = ('Nikita', 'Aarti','Jasmin','Mayuri')
my_new_tuple

('Nikita', 'Aarti', 'Jasmin', 'Mayuri')

In [64]:
for i in range(len(my_new_tuple)):
    print("(" , i, ")", my_new_tuple[i])

( 0 ) Nikita
( 1 ) Aarti
( 2 ) Jasmin
( 3 ) Mayuri

In [65]:
Scores = (10, 8 , 3, 2 , 4, 0 , 0, 3)
Scores

(10, 8, 3, 2, 4, 0, 0, 3)

In [67]:
sorted(Scores)

[0, 0, 2, 3, 3, 4, 8, 10]

In [70]:
sorted(Scores, reverse = True)

[10, 8, 4, 3, 3, 2, 0, 0]

In [71]:
grades = ('a', 'c', 'd', 'e', 'b')
grades

('a', 'c', 'd', 'e', 'b')

In [72]:
sorted(grades, reverse = True)

['e', 'd', 'c', 'b', 'a']

In [73]:
Scores

(10, 8, 3, 2, 4, 0, 0, 3)

In [74]:
max(Scores)

10

In [75]:
min(Scores)

0

In [76]:
sum(Scores)

30

In [77]:
my_tuple = ("mouse", [8, 4, 6], (1, 2, 3))  
my_tuple

('mouse', [8, 4, 6], (1, 2, 3))

In [78]:
my_tuple[1]

[8, 4, 6]

In [79]:
type(my_tuple[1])

list

In [80]:
type(my_tuple[2])

tuple

In [81]:
type(my_tuple[0])

str

In [83]:
my_tuple[ :2]

('mouse', [8, 4, 6])

In [84]:
my_tuple[ : ]

('mouse', [8, 4, 6], (1, 2, 3))

In [85]:
my_tuple[ : :2]

('mouse', (1, 2, 3))

In [86]:
my_tuple[ : :-1]

((1, 2, 3), [8, 4, 6], 'mouse')

In [87]:
my_tuple[ : :-2]

((1, 2, 3), 'mouse')

In [88]:
my_tuple

('mouse', [8, 4, 6], (1, 2, 3))

In [89]:
for i in range(len(my_tuple)):
    print("(" , i , ")", my_tuple[i])

( 0 ) mouse
( 1 ) [8, 4, 6]
( 2 ) (1, 2, 3)

In [92]:
my_tuple

('mouse', [8, 4, 6], (1, 2, 3))

In [94]:
sorted(my_tuple[1])

[4, 6, 8]

In [95]:
sorted(my_tuple[2])

[1, 2, 3]

In [96]:
sorted(my_tuple[0])

['e', 'm', 'o', 's', 'u']

In [105]:
my_tuple

('mouse', [8, 4, 6], (1, 2, 3))

In [108]:
my_tuple.index[(1,2,3)]

TypeError: 'builtin_function_or_method' object is not subscriptable