In [1]:
dir(str)  #list the methods of string

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'removeprefix',
 'removesuffix',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [2]:
my_string = "Python is beautiful!"

In [3]:
my_string.lower()  #converts to lowercase

'python is beautiful!'

In [4]:
my_string.upper()

'PYTHON IS BEAUTIFUL!'

In [5]:
stmt = "Chennai Super Kings are going to win IPL this time."
print("Original stmt : ", stmt)

mod_stmt = stmt.upper()
print("Modified stmt : ",mod_stmt)

mod_stmt = stmt.lower()
print("Modified stmt again : ",mod_stmt)

Original stmt :  Chennai Super Kings are going to win IPL this time.
Modified stmt :  CHENNAI SUPER KINGS ARE GOING TO WIN IPL THIS TIME.
Modified stmt again :  chennai super kings are going to win ipl this time.

In [6]:
my_string.islower()

False

In [7]:
my_string

'Python is beautiful!'

In [8]:
my_string.isupper()

False

In [9]:
my_string.count('t')

2

In [12]:
my_string.index('P')

0

In [13]:
my_string.index('fu')

16

In [14]:
my_string[0].isalpha()

True

In [15]:
my_string.isalnum()

False

In [16]:
my_string[0].isdigit()

False

In [17]:
my_string.isnumeric()

False

In [18]:
num_string = "123"
num_string.isnumeric()

True

In [19]:
stmt = "Chennai Super Kings are going to win IPL this time.    "
print(stmt)
print(stmt.rstrip())  #remove the empty spaces at right side

Chennai Super Kings are going to win IPL this time.
Chennai Super Kings are going to win IPL this time.

In [20]:
stmt = "     Chennai Super Kings are going to win IPL this time."
print(stmt)
print(stmt.lstrip())  #remove the empty spaces at left side

     Chennai Super Kings are going to win IPL this time.
Chennai Super Kings are going to win IPL this time.

In [21]:
stmt = "     Chennai Super Kings are going to win IPL this time.   "
print(stmt)
print(stmt.strip())  #remove the empty spaces from both side

     Chennai Super Kings are going to win IPL this time.
Chennai Super Kings are going to win IPL this time.

In [22]:
stmt = "     Chennai Super Kings are going to win IPL this time."

In [24]:
stmt.strip()

'Chennai Super Kings are going to win IPL this time.'

In [25]:
stmt = "$$$$Chennai Super Kings are going to win IPL this time."
print(stmt)
print(stmt.lstrip("$"))  #Splitting character can also be specified

$$$$Chennai Super Kings are going to win IPL this time.
Chennai Super Kings are going to win IPL this time.

In [29]:
my_string = 'python is beautiful'

In [30]:
my_string.find('is')

7

In [31]:
my_string.find('be')

10

In [32]:
my_string.find('are')

-1

In [33]:
my_string.find('too')

-1

In [34]:
my_string.startswith('python')

True

In [35]:
my_string.startswith('Python')

False

In [36]:
my_string.endswith('beautiful')

True

In [37]:
my_string.endswith('beAutiful')

False

In [38]:
my_string.replace('t', '#') #very important

'py#hon is beau#iful'

In [39]:
help(str.split)

Help on method_descriptor:

split(self, /, sep=None, maxsplit=-1)
    Return a list of the substrings in the string, using sep as the separator string.

      sep
        The separator used to split the string.

        When set to None (the default value), will split on any whitespace
        character (including \\n \\r \\t \\f and spaces) and will discard
        empty strings from the result.
      maxsplit
        Maximum number of splits (starting from the left).
        -1 (the default value) means no limit.

    Note, str.split() is mainly useful for data that has been intentionally
    delimited.  With natural text that includes punctuation, consider using
    the regular expression module.

In [40]:
my_string = "Python is beautiful!"

In [41]:
my_string.split()   #split using default delimiter i.e. white space

['Python', 'is', 'beautiful!']

In [42]:
splitted_string = my_string.split()   #split using default delimiter i.e. white space

In [43]:
type(splitted_string)  # is list of values

list

In [45]:
splitted_string[1]  # aceess first part of splitted string

'is'

In [46]:
my_string.split(' is ')   #split using user defined delimiter i.e. ' is '

['Python', 'beautiful!']

In [47]:
part_string = my_string.partition('is')
part_string

('Python ', 'is', ' beautiful!')

In [48]:
type(part_string)

tuple

In [49]:
first_string = input("Enter statement \n")
second_string = input("Enter the string to be looked upon in statement \n")

is_present = first_string.find(second_string)

print("Second string is present at ", is_present, " location in first string")
print("Note : -1 indicates that string is not present")

Enter statement
Data analyst is most demanding role
Enter the string to be looked upon in statement
data analysis is part of data science
Second string is present at  -1  location in first string
Note : -1 indicates that string is not present

In [50]:
user_string = input("Enter the string \n")
print('You entered : ', user_string)

print("The lower case string : ", user_string.lower())
print("The upper case string : ", user_string.upper())
print("The reversed string : ", user_string[ : : -1])

Enter the string
Data analyst is most demanding role
You entered :  Data analyst is most demanding role
The lower case string :  data analyst is most demanding role
The upper case string :  DATA ANALYST IS MOST DEMANDING ROLE
The reversed string :  elor gnidnamed tsom si tsylana ataD

In [64]:
user_string = input("Enter the string \n")
print('You entered : ', user_string)

for i in range(len(user_string)):
    print("->", i, user_string[: i])

Enter the string
DATA Analysis
You entered :  DATA Analysis
-> 0
-> 1 D
-> 2 DA
-> 3 DAT
-> 4 DATA
-> 5 DATA
-> 6 DATA A
-> 7 DATA An
-> 8 DATA Ana
-> 9 DATA Anal
-> 10 DATA Analy
-> 11 DATA Analys
-> 12 DATA Analysi