In [1]:
a = input("Enter a integer")

Enter a integer25

In [2]:
type(a)

str

In [3]:
type(input)

method

In [2]:
a = int(input("This is my variable a  "))
b = int(input("This is my variable b  "))
c = int(input("This is my variable c  "))

This is my variable a  13
This is my variable b  15
This is my variable c  17

In [3]:
A = a+b/c
print(A)

13.882352941176471

In [4]:
B = A+ 78 +6j
print(B)

(91.88235294117646+6j)

In [5]:
str(B) + "Sudh"

'(91.88235294117646+6j)Sudh'

In [6]:
num1 = int(input("Enter first number   "))
num2 = int(input("Enter second number  "))

Enter first number   8
Enter second number  9

In [7]:
sum_num = num1 + num2
diff_num = num1 - num2
mult_num = num1 * num2
div_num = num1 / num2
mod_num = num1 % num2
quot_num = num1 // num2

In [9]:
print("Sum of two numbers",num1,"and",num2,"is",sum_num)
print("Diff of two numbers",num1,"and",num2,"is",diff_num)
print("Multi of two numbers",num1,"and",num2,"is",mult_num)
print("Div of two numbers",num1,"and",num2,"is",div_num)
print("Mod of two numbers",num1,"and",num2,"is",mod_num)
print("Quot of two numbers",num1,"and",num2,"is",quot_num)

Sum of two numbers 8 and 9 is 17
Diff of two numbers 8 and 9 is -1
Multi of two numbers 8 and 9 is 72
Div of two numbers 8 and 9 is 0.8888888888888888
Mod of two numbers 8 and 9 is 8
Quot of two numbers 8 and 9 is 0

# Range Function

In [10]:
range(10)

range(0, 10)

In [11]:
print(range(10))

range(0, 10)

In [12]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [13]:
list(range(12))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11]

In [14]:
list(range(3,12))

[3, 4, 5, 6, 7, 8, 9, 10, 11]

In [16]:
list(range(3,20,2))

[3, 5, 7, 9, 11, 13, 15, 17, 19]

In [17]:
list(range(3,20,3))

[3, 6, 9, 12, 15, 18]

In [18]:
list(range(3,20.5))

TypeError: 'float' object cannot be interpreted as an integer

In [20]:
list(range(int(3.25),int(20.25),3))

[3, 6, 9, 12, 15, 18]

In [21]:
list(range(3,45,-3))

[]

In [23]:
list(range(45,1,-3))

[45, 42, 39, 36, 33, 30, 27, 24, 21, 18, 15, 12, 9, 6, 3]

In [24]:
list(range(45,1,3))

[]

In [25]:
list(range(-45,-1,-3))

[]

In [26]:
list(range(-3,-45,3))

[]

In [27]:
list(range(-45,-3, 5))

[-45, -40, -35, -30, -25, -20, -15, -10, -5]

In [28]:
name="India"

In [29]:
type(name)

str

In [30]:
len_name = len(name)
print(len_name)

5

In [31]:
list(range(len_name))

[0, 1, 2, 3, 4]

In [37]:
list_items = ["hello",55,67.53,"a",45,"Nikita","India",34.56,98,True,False, 56+6j]
print(list_items)

['hello', 55, 67.53, 'a', 45, 'Nikita', 'India', 34.56, 98, True, False, (56+6j)]

In [42]:
len(list_items)

12

In [43]:
list_items[6]

'India'

In [44]:
list_items[6 : ]

['India', 34.56, 98, True, False, (56+6j)]

In [45]:
list_items[ : ]

['hello',
 55,
 67.53,
 'a',
 45,
 'Nikita',
 'India',
 34.56,
 98,
 True,
 False,
 (56+6j)]

In [46]:
list_items[ :4]

['hello', 55, 67.53, 'a']

In [47]:
list_items[3:7]

['a', 45, 'Nikita', 'India']

In [48]:
list_items[3:23]

['a', 45, 'Nikita', 'India', 34.56, 98, True, False, (56+6j)]

In [49]:
list_items[23]

IndexError: list index out of range

In [50]:
list_items[ :  :-1]

[(56+6j),
 False,
 True,
 98,
 34.56,
 'India',
 'Nikita',
 45,
 'a',
 67.53,
 55,
 'hello']

In [51]:
list_items[2:9:2]

[67.53, 45, 'India', 98]

In [52]:
[1,2,36.45,"FSDS"] + "Nikta"

TypeError: can only concatenate list (not "str") to list

In [53]:
[1,2,36.45,"FSDS"] + ["Nikita"]

[1, 2, 36.45, 'FSDS', 'Nikita']

# Append Function

In [54]:
print(list_items)

['hello', 55, 67.53, 'a', 45, 'Nikita', 'India', 34.56, 98, True, False, (56+6j)]

In [55]:
list_items.append("Alia Bhatt")

In [56]:
list_items

['hello',
 55,
 67.53,
 'a',
 45,
 'Nikita',
 'India',
 34.56,
 98,
 True,
 False,
 (56+6j),
 'Alia Bhatt']

In [61]:
list_items.append("Abhishek",23,85)

TypeError: list.append() takes exactly one argument (3 given)

In [60]:
list_items.append(["Abhishek",23,85,56])

In [62]:
list_items

['hello',
 55,
 67.53,
 'a',
 45,
 'Nikita',
 'India',
 34.56,
 98,
 True,
 False,
 (56+6j),
 'Alia Bhatt',
 ['Abhishek', 23, 85, 56]]

In [63]:
list_items[12][1]

'l'

In [64]:
list_items[12]

'Alia Bhatt'

In [65]:
list_items[12][5]

'B'

In [68]:
list_items[13]

['Abhishek', 23, 85, 56]

In [69]:
list_items[13][0]

'Abhishek'

In [70]:
list_items[13][0][5]

'h'

In [73]:
list_items.append(["Abhi",[2,5],45,85])

In [74]:
list_items

['hello',
 55,
 67.53,
 'a',
 45,
 'Nikita',
 'India',
 34.56,
 98,
 True,
 False,
 (56+6j),
 'Alia Bhatt',
 ['Abhishek', 23, 85, 56],
 ['Abhi', [2, 5], 45, 85],
 ['Abhi', [2, 5], 45, 85]]

# Insert Function

In [75]:
list_items.insert(3,"Data Science")

In [76]:
print(list_items)

['hello', 55, 67.53, 'Data Science', 'a', 45, 'Nikita', 'India', 34.56, 98, True, False, (56+6j), 'Alia Bhatt', ['Abhishek', 23, 85, 56], ['Abhi', [2, 5], 45, 85], ['Abhi', [2, 5], 45, 85]]

In [77]:
list_items.insert(1,["Raj","Yash",45,89])

In [78]:
list_items

['hello',
 ['Raj', 'Yash', 45, 89],
 55,
 67.53,
 'Data Science',
 'a',
 45,
 'Nikita',
 'India',
 34.56,
 98,
 True,
 False,
 (56+6j),
 'Alia Bhatt',
 ['Abhishek', 23, 85, 56],
 ['Abhi', [2, 5], 45, 85],
 ['Abhi', [2, 5], 45, 85]]

In [79]:
list_items[1][1]

'Yash'