In [1]:
list_items = ["hello",55,67.53,'a',45,"anand","India",34.567,98,True,False]

In [2]:
list_items

['hello', 55, 67.53, 'a', 45, 'anand', 'India', 34.567, 98, True, False]

In [3]:
list_items[2] = "Data"
list_items

['hello', 55, 'Data', 'a', 45, 'anand', 'India', 34.567, 98, True, False]

In [4]:
list_items[6] = "Full stack"
list_items

['hello', 55, 'Data', 'a', 45, 'anand', 'Full stack', 34.567, 98, True, False]

# Extend Function

In [5]:
s = [1,2,3,4,5,6]

In [6]:
s.append([8,6,"a","b"])
s

[1, 2, 3, 4, 5, 6, [8, 6, 'a', 'b']]

In [7]:
s = [1,2,3,4,5,6]

In [8]:
s.extend([8,6,"a","b"])
s

[1, 2, 3, 4, 5, 6, 8, 6, 'a', 'b']

In [11]:
s.extend(100)

TypeError: 'int' object is not iterable

In [12]:
s

[1, 2, 3, 4, 5, 6, 8, 6, 'a', 'b']

In [13]:
s.extend([100])

In [14]:
s

[1, 2, 3, 4, 5, 6, 8, 6, 'a', 'b', 100]

# Index Function

In [16]:
s

[1, 2, 3, 4, 5, 6, 8, 6, 'a', 'b', 100]

In [18]:
s.index(5)

4

In [19]:
s.index(8)

6

In [20]:
s.index(100)

10

In [21]:
s.index('a')

8

# Reverse Function

In [22]:
list_items

['hello', 55, 'Data', 'a', 45, 'anand', 'Full stack', 34.567, 98, True, False]

In [24]:
list_items_rev = list_items[ : :-1]
list_items_rev

[False, True, 98, 34.567, 'Full stack', 'anand', 45, 'a', 'Data', 55, 'hello']

In [26]:
list_items.reverse()
list_items

['hello', 55, 'Data', 'a', 45, 'anand', 'Full stack', 34.567, 98, True, False]

# Sort Function

In [1]:
list_items2 = ["anand","anil","yash","Anushka"]

In [2]:
list_items2.sort()
list_items2

['Anushka', 'anand', 'anil', 'yash']

In [3]:
list3 = ["mayuri", "jasmine", "aarti", "nikita"]

In [4]:
list3.sort()
list3

['aarti', 'jasmine', 'mayuri', 'nikita']

In [5]:
sorted_items_dsc = list3.sort(reverse = True)
print(sorted_items_dsc)

None

In [6]:
list3.sort(reverse = True)
print(list3)

['nikita', 'mayuri', 'jasmine', 'aarti']

In [8]:
list3.copy()

['nikita', 'mayuri', 'jasmine', 'aarti']

In [9]:
list_items_numbers = [34,5,2,87,12,11,98,22]

In [10]:
sorted(list_items_numbers)

[2, 5, 11, 12, 22, 34, 87, 98]

In [11]:
sorted(list_items_numbers, reverse = True)

[98, 87, 34, 22, 12, 11, 5, 2]

In [14]:
list4 = [2,3,5,7,9,11,13,17,19,21]

In [15]:
list4.pop(4)

9

In [16]:
print(list4)

[2, 3, 5, 7, 11, 13, 17, 19, 21]

In [17]:
a = input("What is your name?  ")

What is your name?  Nikita

In [18]:
num1= int(input("Enter First number  "))
num2 = int(input("Enter Second number  "))

Enter First number  56
Enter Second number  86

In [19]:
Name = input("Enter your name  ")
print("Welcome", Name)

Enter your name  Nikita
Welcome Nikita

In [21]:
age = input("What is your age? ")
print("You have entered age as ", age)
print("Type : ", type(age))

What is your age? 25
You have entered age as  25
Type :  <class 'str'>

In [24]:
salary = input("What is your salary?")
modified_salary = float(salary)
print("You have entered salary as", modified_salary)
print("Type : ", type(modified_salary))

What is your salary?25000
You have entered salary as 25000.0
Type :  <class 'float'>

In [25]:
my_age = eval(input("What is your age? \n"))
print("You have entered age as \n", my_age)
print("Type :",  type(my_age))

What is your age?
25
You have entered age as
 25
Type : <class 'int'>

In [2]:
my_salary = eval(input('What is your salary?\n'))
print("You have entered salary as \n", my_salary)
print("Type : " , type(my_salary))

What is your salary?
"salary"
You have entered salary as
 salary
Type :  <class 'str'>

In [6]:
my_total_marks = eval(input("Enter your marks \n"))
print("You have entered total marrks as ", my_total_marks)

Enter your marks
55+56+75+86+68
You have entered total marrks as  340

In [7]:
ask_num = eval(input("Enter the number : "))
sq_num = ask_num * ask_num
cub_num = pow(ask_num, 3)

print('Square of ', str(ask_num) , ' is : ' , str(sq_num))
print('Cube of ' + str(ask_num) + ' is : ' , str(cub_num))

Enter the number : 20
Square of  20  is :  400
Cube of 20 is :  8000

In [9]:
num1= eval(input("Enter first number :  "))
num2= eval(input("enter second number :  "))
num3= eval(input("Enter third number:  "))
multi= num1 * num2 * num3
total= num1 + num2 + num3
avg= total/3

print("Numbers entered are : " + str(num1) + " " +str(num2) + " " + str(num3) + 
      " and their totals are : " + str(total) + " and avg is : " + str(avg) +
     " and their multiplication : " + str(multi))

Enter first number :  10
enter second number :  20
Enter third number:  30
Numbers entered are : 10 20 30 and their totals are : 60 and avg is : 20.0 and their multiplication : 6000

In [11]:
basic_salary= eval(input("Enter basic salary :  "))

hra= 0.1 * basic_salary

conv_allowance= 3500

total_salary= basic_salary + hra + conv_allowance

print("HRA component  :  ", str(hra))
print("Conveyance allowance  : ", str(conv_allowance))
print("Total salary  : ", str(total_salary))

Enter basic salary :  10000
HRA component  :   1000.0
Conveyance allowance  :  3500
Total salary  :  14500.0